<html>
    <head>
        <title>Welcome to {{ project_name }} !</title>
    </head>
    <body>
        <h1>Success!  The {{ project_name }}  server block is working!</h1>
        <h2> Server domain {{ server_name }} </h2>
    </body>
</html>
