<html>
    <head>
        <title>Welcome to {{ ansible_hostname }}!</title>
    </head>
    <body>
        <h1>Success!  The {{ ansible_hostname }} server block is working!</h1>
        <h2> Ip server {{ ansible_enp0s3.ipv4.address }} </h2>
    </body>
</html>
